name: ansible-lint
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  ansible-lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - name: Install ansible.posix
        run: ansible-galaxy collection install ansible.posix
      - uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v6
